{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h3>Living Organs</h3>
<div>
<p>Living Organs is a site designed to help organ donors and those in need of organs.</p>
    
</div>

<h3>Goals</h3>
<ul>
  <li>Bring together organ donors and optimize the matching process.</li>
</ul>

<h3>History</h3>
<div>
  <dl>
    <dt>2012-04-13 - 2012-04-14</dt>
    <dd>Idea formed and initial implementation done at the Hokie Health Code-a-thon at TechPad in Blacksburg, VA.</dd>
  </dl>
</div>
{% endblock %}
