{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
	<div class="span2">
		<img src = "http://img40.imageshack.us/img40/9696/peopleu.png" height="20px" />
		<h2>Join</h2>
		<p>Join millions of users</p>
	</div>
	<div class="span2">
		<img src = "http://img42.imageshack.us/img42/7228/syncn.jpg" height="10px" />
		<h2>Match</h2>
		<p>Match with others</p>
	</div>
	<div class="span2">
		<img src = "http://img543.imageshack.us/img543/6220/heartgd.jpg" height="10px" />
		<h2>Live</h2>
		<p>Live to life you deserve</p>	
	</div>
</div>
{% endblock %}
