{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
	<div class="span2">
		<img src = "http://img40.imageshack.us/img40/9696/peopleu.png" height="20px" />
		<h2>Join</h2>
		<p>Join millions of users</p>
	</div>
	<div class="span2">
		<img src = "http://img705.imageshack.us/img705/5624/syncc.png" height="10px" />
		<h2>Match</h2>
		<p>Match with others</p>
	</div>
	<div class="span2">
		<img src = "http://img26.imageshack.us/img26/6911/hearttk.png" height="10px" />
		<h2>Live</h2>
		<p>Live the life you deserve</p>	
	</div>
</div>
{% endblock %}
