{% extends "base.html" %}
{% block title %}Matches{% endblock %}
{% block content %}
{% if groups %}
<div class="groups">
  {% for g in groups %}
   <div>Group:
     <ul>
     {% for p in g %}
       <li>
       <a href="/pairs/{{ p.id }}">{{ p.id }}</a>:
       Donor: {{ p.donor.name|e }}/{{ p.donor.blood_type }}
       Recipient: {{ p.recipient.name|e }}/{{ p.recipient.blood_type }}
       </li>
     {% endfor %}
     </ul>
    </div>
  {% endfor %}
</div>
{% else %}
<p>No matches.</p>
{% endif %}
{% endblock %}
